// Fonts
@import url("//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css");
@import "~buefy/lib/buefy";

html {
  overflow-y: auto;
}

html, body, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#content {
  overflow-y: auto;
  padding: 30px;
  flex: 1;
}

[v-cloak] {
  display: none;
}

.navbar {
  border-bottom: 1px solid lightgray;
}

.modal-card-head {
  padding: 12px;
  .modal-card-title {
    font-size: 1.1rem;
  }
}

.modal-card-foot {
  justify-content: flex-end;
  padding: 8px;
}

.upload-draggable {
  width: 100%;
}

.screens-menu {
  .menu-item {
    width: 150px;
    .dropdown-trigger {
      width: 100%;
      .button {
        width: 100%;
      }
      .icon {
        right: 10px;
        position: absolute;
      }
    }
  }
  .column {
    padding: 3px;
  }
}